.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ff8585;
    color: #ffffff;
}
.nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
}

.profile-link {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.profile-link img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.profile-link:hover {
    color: #007bff;
}

.a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.a:hover{
    color: #007bff;
}
.main{
    padding: 20px;
    background-color: #ffffff;
}
.hero{
    text-align: center;
    padding: 50px 20px;
    background-color: #e2e6ea;
    font-weight: bold;
    color: #343a40;
    font: Arial, sans-serif;
}
.hero h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.hero p{
    font-size: 20px;
    margin-top: 0;
}
.footer{
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    margin-top: 20px;
}
.btn{
    background-color: #e2e6ea;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 360px;
    background: #ffffff;
    padding: 6px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.search-form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 14px;
    font-size: 15px;
    border-radius: 20px;
    background: transparent;
}


.search-btn {
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    background: #1d1e20;
    color: #fff;
    cursor: pointer;
}

.search-btn:hover {
    background: #343a40;
}
